@font-face {
      font-family: 'Ptserif';
      src: url('fonts/ptserif-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'PtserifBold';
      src: url('fonts/PTSerif-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
